.heroContent {
    max-Width: 600;
    margin: 0 auto;
    /* padding: `${theme.spacing.unit * 8}px 0 ${theme.spacing.unit * 6}px`, */
  }
  .heroButtons{
   /* marginTop: theme.spacing.unit * 4;*/
  }
  .layout{
    width: auto;
    margin-Left:3;
    margin-Right:3,
    /* [theme.breakpoints.up(1100 + theme.spacing.unit * 3 * 2)]: {
      width: 1100,
      marginLeft: 'auto',
      marginRight: 'auto',
    }, */
  }
  .cardGrid{
    padding:8px; 
  }/* 
  .card{
    height:140px;/* 
    display:flex;
    flex-Direction:column;
  }  */
  
  .cardMedia{
    padding-Top: 56.25%;
  }
  .cardContent{
    flex-Grow: 1,
  }
  .footer{
   /* background-Color:*/
    padding:6;
  }
