h2{
  font-size: 200px;
}
.newTask1{
  border:yellow solid 1px; 
  width: 200px;
  height:300px;
  margin: auto;
}
.newTask2{
  width:100%;
  height: 15%;
  border: green dashed 1px;
}
input{
  border:silver solid 1 px;
}